src/resources/schemas/neptus-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2004-2023 Universidade do Porto - Faculdade de Engenharia
Laboratório de Sistemas e Tecnologia Subaquática (LSTS)
All rights reserved.
Rua Dr. Roberto Frias s/n, sala I203, 4200-465 Porto, Portugal

This file is part of Neptus, Command and Control Framework.

Commercial Licence Usage
Licencees holding valid commercial Neptus licences may use this file
in accordance with the commercial licence agreement provided with the
Software or, alternatively, in accordance with the terms contained in a
written agreement between you and Universidade do Porto. For licensing 
terms, conditions, and further information contact lsts@fe.up.pt.

European Union Public Licence - EUPL v.1.1 Usage
Alternatively, this file may be used under the terms of the EUPL,
Version 1.1 only (the "Licence"), appearing in the file LICENCE.md
included in the packaging of this file. You may not use this  work
except in compliance with the Licence. Unless required by  applicable
law or agreed to in writing, software distributed under the Licence  is
distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF
ANY KIND, either express or implied. See the Licence for the specific
language governing permissions and limitations at
https://www.lsts.pt/neptus/licence.

For more information please see <http://lsts.fe.up.pt/neptus>.

Author: Paulo Dias, José Pinto
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>v0.3</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="latitudeCoordinateType">
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="(\d){1,3}([\.,](\d|\d\d*))?[NSns]((\d){1,3}([\.,](\d|\d\d*))?([']?\s?\d?\d?\d([\.,](\d|\d\d*))?([']{2})?)?)?"/>
			<xs:pattern value="[NSns]\s?(\d){1,3}([\.,](\d|\d\d*))?((\s|º\s?)(\d){1,3}([\.,](\d|\d\d*))?['](\s?\d?\d?\d([\.,](\d|\d\d*))?[']{2})?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="longitudeCoordinateType">
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="(\d){1,3}([\.,](\d|\d\d*))?[EWew]((\d){1,3}([\.,](\d|\d\d*))?([']?\s?\d?\d?\d([\.,](\d|\d\d*))?([']{2})?)?)?"/>
			<xs:pattern value="[EWew]\s?(\d){1,3}([\.,](\d|\d\d*))?((\s|º\s?)(\d){1,3}([\.,](\d|\d\d*))?['](\s?\d?\d?\d([\.,](\d|\d\d*))?[']{2})?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="coordinateSystem">
		<xs:sequence>
			<xs:element name="id" type="xs:ID"/>
			<xs:element name="name" type="xs:string"/>
			<xs:sequence>
				<xs:element name="origin" type="generalPointType"/>
				<xs:element name="axis-attitude" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The base for the definition of this coordinate system is the N-E-D. That is x pointing to North, y to east and z down. The origin of the default coordinate system is N0 E0 with hieght 0 meters.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:sequence>
								<xs:element name="roll">
									<xs:annotation>
										<xs:documentation>in degrees (º)</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:float"/>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="pitch">
									<xs:annotation>
										<xs:documentation>in degrees (º)</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:float"/>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="yaw">
									<xs:annotation>
										<xs:documentation>in degrees (º)</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:float"/>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:sequence>
								<xs:element name="x-axis-direction">
									<xs:annotation>
										<xs:documentation>Direction of this coordinate system axis: north or south, east or west, up or down. Within any set of coordinate system axes, only one of each pair of terms can be used.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:Name">
											<xs:enumeration value="north"/>
											<xs:enumeration value="south"/>
											<xs:enumeration value="east"/>
											<xs:enumeration value="west"/>
											<xs:enumeration value="up"/>
											<xs:enumeration value="down"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="y-axis-direction">
									<xs:annotation>
										<xs:documentation>Direction of this coordinate system axis: north or south, east or west, up or down. Within any set of coordinate system axes, only one of each pair of terms can be used.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:Name">
											<xs:enumeration value="north"/>
											<xs:enumeration value="south"/>
											<xs:enumeration value="east"/>
											<xs:enumeration value="west"/>
											<xs:enumeration value="up"/>
											<xs:enumeration value="down"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="z-axis-direction">
									<xs:annotation>
										<xs:documentation>Direction of this coordinate system axis: north or south, east or west, up or down. Within any set of coordinate system axes, only one of each pair of terms can be used.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:Name">
											<xs:enumeration value="north"/>
											<xs:enumeration value="south"/>
											<xs:enumeration value="east"/>
											<xs:enumeration value="west"/>
											<xs:enumeration value="up"/>
											<xs:enumeration value="down"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fileType">
		<xs:sequence>
			<xs:element name="id" type="xs:ID"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="type">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="text"/>
						<xs:enumeration value="xml"/>
						<xs:enumeration value="java-properties"/>
						<xs:enumeration value="unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="href" type="xs:anyURI"/>
			<xs:element name="description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="locationTypeOld">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="location-by-name" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reference of a location on a map. It should be like: "ID_OF_MAP::ID_OF_LOCATION". The separator simbols is "::".</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\i\c*:{2}\i\c*"/>
								<xs:pattern value="home"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:sequence minOccurs="0">
						<xs:element name="offset-x" type="xs:float">
							<xs:annotation>
								<xs:documentation>in metres</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="offset-y" type="xs:float">
							<xs:annotation>
								<xs:documentation>in metres</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="offset-z" type="xs:float">
							<xs:annotation>
								<xs:documentation>in metres</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:sequence>
				<xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element name="latitude" type="latitudeCoordinateType">
							<xs:annotation>
								<xs:documentation>N 41 11' 00'' 
or
41N11 00 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="longitude" type="longitudeCoordinateType">
							<xs:annotation>
								<xs:documentation>W 8 36' 00''
or
8W36 00 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:element name="height" type="xs:float">
								<xs:annotation>
									<xs:documentation>in metres</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="depth" type="xs:float">
								<xs:annotation>
									<xs:documentation>in metres</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element name="x" type="xs:float">
							<xs:annotation>
								<xs:documentation>in metres</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="y" type="xs:float">
							<xs:annotation>
								<xs:documentation>in metres</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="z" type="xs:float">
							<xs:annotation>
								<xs:documentation>in metres</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:sequence>
			</xs:choice>
			<xs:sequence minOccurs="0">
				<xs:element name="azimuth" type="xs:float">
					<xs:annotation>
						<xs:documentation>Or offset-angle-x-y.
in degrees (º)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="offset-distance" type="xs:float">
					<xs:annotation>
						<xs:documentation>in metres</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="zenith" type="xs:float">
					<xs:annotation>
						<xs:documentation>Or offset-angle-xy-z.
in degrees (º)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation>If location-by-name is used, the coordinate-system is to be copied from the location-by-name element.</xs:documentation>
					</xs:annotation>
					<xs:element name="coordinate-system-label" type="xs:token"/>
					<xs:element name="coordinate-system-def" type="coordinateSystem"/>
				</xs:choice>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="locationType">
		<xs:annotation>
			<xs:documentation>Identical to the generalPointType but with the possibility to put a reference to another location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="coordinate" type="generalPointType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="generalPointType">
		<xs:annotation>
			<xs:documentation>Identical to the locationType but without the possibility to put a reference to another location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element name="latitude" type="latitudeCoordinateType">
					<xs:annotation>
						<xs:documentation>N 41 11' 00'' 
or
41N11 00 </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="longitude" type="longitudeCoordinateType">
					<xs:annotation>
						<xs:documentation>W 8 36' 00''
or
8W36 00 </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="height" type="xs:float">
						<xs:annotation>
							<xs:documentation>in metres</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="depth" type="xs:float">
						<xs:annotation>
							<xs:documentation>in metres</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element name="azimuth" type="xs:float">
					<xs:annotation>
						<xs:documentation>Or offset-angle from the North direction and positive north to east.
in degrees (º)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="offset-distance" type="xs:float">
					<xs:annotation>
						<xs:documentation>in metres</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="zenith" type="xs:float">
					<xs:annotation>
						<xs:documentation>Or offset-angle from the MSL (mean see level) as in WGS84, positive up.
in degrees (º)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:choice>
					<xs:element name="offset-north" type="xs:float">
						<xs:annotation>
							<xs:documentation>in metres</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="offset-south" type="xs:float">
						<xs:annotation>
							<xs:documentation>in metres</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:choice>
					<xs:element name="offset-east" type="xs:float">
						<xs:annotation>
							<xs:documentation>in metres</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="offset-west" type="xs:float">
						<xs:annotation>
							<xs:documentation>in metres</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:choice>
					<xs:element name="offset-up" type="xs:float">
						<xs:annotation>
							<xs:documentation>in metres</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="offset-down" type="xs:float">
						<xs:annotation>
							<xs:documentation>in metres</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="simplePointType">
		<xs:sequence>
			<xs:sequence>
				<xs:element name="x" type="xs:float"/>
				<xs:element name="y" type="xs:float"/>
				<xs:element name="z" type="xs:float"/>
			</xs:sequence>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>If location-by-name is used, the coordinate-system is to be copied from the location-by-name element.</xs:documentation>
				</xs:annotation>
				<xs:element name="coordinate-system-label" type="xs:token"/>
				<xs:element name="coordinate-system-def" type="coordinateSystem"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="colorRGB">
		<xs:sequence>
			<xs:element name="r">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="g">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="b">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="orientationElementType">
		<xs:annotation>
			<xs:documentation>Element representing  orientation</xs:documentation>
		</xs:annotation>
		<xs:attribute name="phi" type="xs:double" use="optional"/>
		<xs:attribute name="theta" type="xs:double" use="optional"/>
		<xs:attribute name="psi" type="xs:double" use="required"/>
	</xs:complexType>
	<xs:complexType name="worldCoordinateVelocityElementType">
		<xs:annotation>
			<xs:documentation>Element representing a vehicle's velocity in world coordinates.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="xDot" type="xs:double" use="required"/>
		<xs:attribute name="yDot" type="xs:double" use="required"/>
		<xs:attribute name="zDot" type="xs:double" use="optional"/>
		<xs:attribute name="phiDot" type="xs:double" use="optional"/>
		<xs:attribute name="thetaDot" type="xs:double" use="optional"/>
		<xs:attribute name="psiDot" type="xs:double" use="optional"/>
	</xs:complexType>
	<xs:complexType name="bodyCoordinateVelocityElementType">
		<xs:annotation>
			<xs:documentation>Element representing a vehicle's velocity in body coordinates.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="u" type="xs:double" use="required"/>
		<xs:attribute name="v" type="xs:double" use="required"/>
		<xs:attribute name="w" type="xs:double" use="optional"/>
		<xs:attribute name="p" type="xs:double" use="optional"/>
		<xs:attribute name="q" type="xs:double" use="optional"/>
		<xs:attribute name="r" type="xs:double" use="optional"/>
	</xs:complexType>
	<xs:complexType name="dopplerVelocityElementType">
		<xs:annotation>
			<xs:documentation>Element representing doppler radar or sonar derived velocities over the ground or through the water or air.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="speedOverGroundU" type="xs:double" use="optional"/>
		<xs:attribute name="speedOverGroundV" type="xs:double" use="optional"/>
		<xs:attribute name="speedThroughMediumU" type="xs:double" use="optional"/>
		<xs:attribute name="speedThroughMediumV" type="xs:double" use="optional"/>
	</xs:complexType>
</xs:schema>
